[Unit]
Description=Run ansible-pull to auto-provision
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/bin/bash -c 'sleep $((RANDOM % 60)); /usr/bin/ansible-pull -o -U https://github.com/morganbo85/ansible_dt.git playbooks/local.yml'

[Install]
WantedBy=multi-user.target
